
#navbarNav ul {
    list-style: none; /* لإزالة النقاط أمام القائمة */
    padding: 0;
    margin: 0;
    display: flex; /* لجعل العناصر أفقية */
    gap: 25px; /* لإضافة مسافة بين العناصر */
}

#navbarNav ul li a {
    text-decoration: none; /* لإزالة الخط السفلي */
    color: #282C5F;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#navbarNav ul li a:hover {
    color: #1E90FF; /* لون عند التمرير */
}




.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    text-align: center; 
margin: 30px;
}

.team-member {
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    min-height: 200px;
    transition: transform 0.2s ease;
}

.team-member:hover {
    transform: scale(1.05);
  }


.foto {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px;
}

#description {
    font-family: "Mulish", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #FCFCFC;
    margin-bottom: 40px;
    margin-left: 10px;
}

#team {
    font-family: "Mulish", sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #FCFCFC;
    margin-top: 50px;
    margin-left: 10px;
}

.card-title {
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FCFCFC;
    margin-bottom: 16px;
    margin-top: 30px;
}

.card-body {
    text-align: left;
    padding: 0;
}

.card {
    background-color: #5A61D3;
    border: none;
}

.card-text {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FCFCFC;
}

.card-img-top {
    margin-bottom: 0;
}
