

#navbarNav ul {
    list-style: none; /* لإزالة النقاط أمام القائمة */
    padding: 0;
    margin: 0;
    display: flex; /* لجعل العناصر أفقية */
    gap: 20px; /* لإضافة مسافة بين العناصر */
}

#navbarNav ul li a {
    text-decoration: none; /* لإزالة الخط السفلي */
    color: #282C5F;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#navbarNav ul li a:hover {
    color: #1E90FF; /* لون عند التمرير */
}

#faq {
    font-family: "Mulish", sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #FCFCFC;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.card-faq h3 {
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FCFCFC;
    margin-bottom: 16px;
    margin-left: 20px;

}

.card-faq p {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FCFCFC;
    margin-bottom: 30px;
    margin-left: 20px;

}
