@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
    background-color: #5A61D3;
    color: #FCFCFC;
    font-family: Arial, sans-serif; /* تأكد من إضافة نوع الخط */
}

/* إضافة تنسيق جديد فقط لهذه الحاوية */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* جعل الحاوية تأخذ كامل ارتفاع الصفحة */
    text-align: center;
}

/* Basic styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
}

/* Style for the logo link */
.logo-link {
    text-decoration: none;
}

/* Style for the logo image */
.logo {
    height: 40px;
    width: auto;
    color: #282C5F;
}

.navbar .navbar-collapse {
    flex-grow: unset;
}

/* Style for the navigation list */
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

/* Style for individual list items */
.nav-list li {
    display: inline;
}

/* Style for navigation links */
.nav-link {
    text-decoration: none;
    color: #282C5F;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Hover effect for navigation links */
.nav-link:hover {
    color: #00bcd4;
}

h1 {
    color: #FCFCFC;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 300px;
    text-align: center;
    margin-top: 90px;
}

