#countdown {
    font-size: 200px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.btn {
    width: 400px;
    height: 100px;
    font-size: 50px !important;
    border-radius: 10px !important;
    cursor: pointer;
    margin: 10px 0;
}

button.btn-primary {
    background-color: #00D4FF; 
    border: 2px solid #00D4FF;
    color: white;
}

button.btn-primary:hover {
    background-color: #00bcd4;
}

button.btn-secondary {
    background-color: #5A61D3; 
    border: 2px solid #FCFCFC;
    color: white;
}

button.btn-secondary:hover {
    background-color: #5A61D3; 
}
